<section class="footer">
    <div class="box-container">
      <div class="box">
        <h3>About Us</h3>
        <p>
          As a tour guide website we offer you a very interactive interface and assure you a great experience to decide and plan your next trip. We as a team are comprehensive and responsive to your reviews and messages. We will keep updating the website with more and more undiscovered interesting places an hidden gems of Maharashtra.
        </p>
      </div>
      
      <div class="box">
        <h3>Quick Links</h3>
        <a href="/">Home</a>
        <a href="/index">Plan</a>

        <a href="/places">Places</a>
        <a href="/review">Review</a>
        <a href="/contact">Contact Us</a>
      </div>
      <div class="box">
        <h3>Follow Us</h3>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">Linkedin</a>
      </div>
    </div>

    <h1 class="credit">All Rights Reserved!</h1>
  </section>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- custom js file link  -->
  <script src="/app.js"></script>
</body>
</html>
