<%- include("partials/header"); -%>
<body>
    <section class="add">
    <div class="container">
      <form action="/add" id="reviews">
        <div class="section-heading">Add Your Review</div>
        <div class="alert">Your review sent!!</div>

        <div class="inputBox">
          <input type="text" id="name" placeholder="Your name" />
        </div>

        <div class="inputBox">
          <input type="text" id="place" placeholder="Place name" />
        </div>

        <div class="inputBox">
          <textarea
            id="reviewContent"
            cols="30"
            rows="10"
            placeholder="Write your Review"
          ></textarea>
        </div>

        <div class="inputBox">
          <div class="center-btn">
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
</section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.11/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>
    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyAm2ZrCfzM_QVNPBYYabi9rMb4virj6rCE",
        authDomain: "tour-guide-reviews.firebaseapp.com",
        databaseURL: "https://tour-guide-reviews-default-rtdb.firebaseio.com",
        projectId: "tour-guide-reviews",
        storageBucket: "tour-guide-reviews.appspot.com",
        messagingSenderId: "703324054230",
        appId: "1:703324054230:web:a14cb0a9cb39266a4a5f77",
      };

      // initialize firebase
      firebase.initializeApp(firebaseConfig);

      // reference your database
      var reviewDB = firebase.database().ref("reviews");

      document.getElementById("reviews").addEventListener("submit", submitForm);

      function submitForm(e) {
        e.preventDefault();

        var name = getElementVal("name");
        var place = getElementVal("place");
        var reviewContent = getElementVal("reviewContent");
        // console.log(name, place, reviewContent);

        saveMessages(name, place, reviewContent);

        //   enable alert
        document.querySelector(".alert").style.display = "block";

        //   remove the alert
        setTimeout(() => {
          document.querySelector(".alert").style.display = "none";
        }, 3000);

        //   reset the form
        document.getElementById("reviews").reset();
      }

      const saveMessages = (name, place, reviewContent) => {
        var newReview = reviewDB.push();

        newReview.set({
          name: name,
          place: place,
          reviewContent: reviewContent,
        });
      };

      const getElementVal = (id) => {
        return document.getElementById(id).value;
      };
    </script>
  </body>
  <%- include("partials/footer"); -%>