<%- include("partials/header"); -%>
<body>
    <section class = "contact">
        <div class="content">
            <h2>Contact Us</h2>
            <p>Thank you for visiting our website. We hope you found the website usefull.If you have any queries you can contact us using phone or email or leave a message in the box below </p>
        </div>
        <div class = "container">
            <div class = "ContactInfo">
                <div class ="box">
                    <div class = "icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>9969276760</p>
                        <p>9967363258</p>
                    </div>
                </div>
                <div class ="box">
                    <div class = "icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>dpkavathkar_b20@it.vjti.ac.in</p>
                        <p>mssawant_b20@it.vjti.ac.in</p>
                    </div>
                </div>
            </div>
            <div class ="contactForm">
                <form>
                    <h2>Message Us</h2>
                    <div class="inputBox">
                        <input type="text" name=""  required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" name=""  required="required">
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        
                        <textarea required="required"></textarea>
                        <span> Your Message</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" name=""  value="Send">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

<%- include("partials/footer"); -%>