<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour Reviews</title>
    <link rel="stylesheet" href="review.css" />
  </head>
  <body>
    <h1 class="main-heading">Tour Review</h1>
    <div class="container">
      <div class="card">
        <div class="limit"><div id="list"></div></div>
      </div>
      <!-- <div class="card_2">
        <img class="img" src="Online Review-pana.png" alt="review image" />
      </div> -->
    </div>

    <div class="button">
      <a href="add.html" class="btn">Add your review!</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.11/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>
    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyAm2ZrCfzM_QVNPBYYabi9rMb4virj6rCE",
        authDomain: "tour-guide-reviews.firebaseapp.com",
        databaseURL: "https://tour-guide-reviews-default-rtdb.firebaseio.com",
        projectId: "tour-guide-reviews",
        storageBucket: "tour-guide-reviews.appspot.com",
        messagingSenderId: "703324054230",
        appId: "1:703324054230:web:a14cb0a9cb39266a4a5f77",
      };

      // initialize firebase
      firebase.initializeApp(firebaseConfig);

      // reference your database
      var reviewDB = firebase.database().ref("reviews");

      var reId = 0;

      function addItemsToList(name, place, reviewContent) {
        var div = document.getElementById("list");
        var _name = document.createElement("h3");
        var _place = document.createElement("li");
        var _reviewContent = document.createElement("p");

        _name.innerHTML = name;
        _place.innerHTML = "Tour to: " + place;
        _reviewContent.innerHTML = reviewContent;

        div.appendChild(_name);
        div.appendChild(_place);
        div.appendChild(_reviewContent);
      }

      function FetchAllData() {
        firebase
          .database()
          .ref("reviews")
          .on("value", function (snapshot) {
            snapshot.forEach(function (ChildSnapshot) {
              let name = ChildSnapshot.val().name;
              let place = ChildSnapshot.val().place;
              let reviewContent = ChildSnapshot.val().reviewContent;
              addItemsToList(name, place, reviewContent);
            });
          });
      }

      window.onload = FetchAllData;
    </script>
  </body>
</html>
